{% extends "base.html.twig" %}

{% block content %}
    <form action="{{ path('bookmark_add') }}" method="post">
        <input type="text" name="url" id="url"/>
        <input type="hidden" name="token" value="{{ csrf_token('add-bookmark') }}"/>
        <input type="submit" value="Add"/>
    </form>
{% endblock %}
