{% extends "base.html.twig" %}

{% block content %}
    <form action="{{ path('bookmark_remove') }}" method="post">
        <input type="password" name="password" id="password"/>
        <input type="hidden" name="token" value="{{ csrf_token('remove-bookmark') }}"/>
        <input type="submit" value="Add"/>
    </form>
{% endblock %}
