{% extends "base.html.twig" %}

{% block content %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error.getMessage() }}
        </div>
    {% endfor %}

    <form action="{{ path('bookmark_remove', {'bookmark_id': bookmark.id}) }}" method="post">
        <input type="password" name="password" id="password"/>
        <input type="hidden" name="token" value="{{ csrf_token('remove-bookmark') }}"/>
        <input type="submit" class="btn btn-danger" value="Remove"/>
    </form>
{% endblock %}
